
* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

/* HEADER */

nav a img {
    height: 70px;
    padding-left: 20px; 
}

.btn-nav{
    background: #44A447;
    padding: 8px 26px;
    color: white;
    border-radius: 20px;
    border: 2px solid #44A447;
    transition: all 0.3s ease;
}

.btn-nav-container:hover .btn-nav{
    background: white;
    padding: 8px 26px;
    color: #44A447;
    border-radius: 20px;
    border: 2px solid #44A447;
    transition: all 0.3s ease;
}

div ul li{
    padding: 0px 20px;
}

#menu li > a {
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
}

.carousel-inner {
    max-height: 50rem;
}


/* DESCRIPCIONES */

.descriptions {
    padding-top: 80px;
}

.container_btn2 {
    margin: 26px 0px;
}

.btn2{
    background: white;
    padding: 8px 26px;
    color: #44A447;
    border-radius: 20px;
    border: 2px solid #44A447;
    font-size: 24px;
}

.btn2:hover{
    background: #44A447;
    padding: 8px 26px;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
}

.desc_text h3 {
    font-weight: 300;
    font-size: 1.5em;
    text-transform: uppercase;
}

.desc_text h2 {
    font-weight: 500;
    font-size: 3em;
    color: #44A447;
    text-transform: uppercase;
}

.desc_text p{
    margin-top: 10px;
    font-weight: 300;
    font-size: 24px;
}

.desc_img {
    border-radius: 20px;
    max-height: 20rem;
}



/* SWIPER */

.slider {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_title div{
    background-color: #44A447;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 60px;
    border-radius: 20px;
    margin-bottom: 4em;
}

.slider_title h2{
    font-weight: 500;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
}

.swiper {
    width: 80%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 180px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-wrapper {
    margin-bottom: 3em;
}

.swiper-pagination-bullet-active {
    color: #44A447;
    background-color: #44A447;
}

/* cambiar color: swiper-theme-color */


/* RRSS */

.rrss_container{
    background: rgb(43,148,81);
    background: linear-gradient(90deg, rgba(43,148,81,1) 0%, rgba(68,164,71,1) 45%, rgba(32,145,113,1) 67%, rgba(0,212,255,1) 100%);
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
    height: 400px;
}


.rrss_rectangle{
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    width: 40%px;
    height: 15px;
    margin-right: 10px;
}

.rrss_title{
    display: grid;
    grid-template-columns: 38% 40% 18%;
    padding: 60px 0px;
    align-items: center;  
}

.rrss_container h2{
    font-weight: 500;
    font-size: 3em;
    color: white;
    text-transform: uppercase; 
}

.rrss_icons{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rrss_icons i {
    font-size: 5em;
    color: white;
    transition-duration: 0.3s;
}

.rrss_icons i:hover {
    transform: rotate(15deg);
    color: #373737;
    transition-duration: 0.5s;
}


/* PEOPLE */

.people_box{
    background: rgb(43,148,81);
    background: linear-gradient(90deg, rgba(43,148,81,1) 0%, rgba(68,164,71,1) 45%, rgba(32,145,113,1) 60%, rgba(0,212,255,1) 120%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37.5%;
    height: 300px;
}

.people_box h3{
    font-weight: 400;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0px;
}

.btn3{
    background: white;
    padding: 8px 26px;
    color: #44A447;
    border-radius: 20px;
    border: 2px solid #44A447;
    margin-bottom: 50px;
}

.btn3:hover{
    background: none;
    padding: 8px 26px;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
}


/* FORM */

.form_container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

.contact-basic-form form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-basic-form form input,textarea{
    border-radius: 10px;
    border: 1px solid #373737;
}
.contact-basic-form form textarea{
    resize: none;
}

.contact-basic-form form input::placeholder,textarea::placeholder{
    font-weight: 300;
}

.contact-basic-form form .form-input{
    margin: 1em 0em;
    padding: 1em 0em;
    padding-left: 20px;
}

.contact-basic-form button {
    width: 20%;
}

.contact-basic-form button:hover {
    color: #44A447;
}
